<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="/static/Adminstyle.css">
    <link rel="stylesheet" href="/static/response.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>BinBuddy- Admin History</title>
</head>
<style>
    #clock {
        max-width: 12px;
    }
.pagination {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin-top: 10px;

    li {
        display: inline;
        text-align: center;

        a {
            float: left;
            display: block;
            font-size: 14px;
            text-decoration: none;
            padding: 5px 12px;
            color: #fff;
            margin-left: -1px;
            border: 1px solid transparent;
            line-height: 1.5;

            &.active {
                cursor: default;
            }

            &:active {
                outline: none;
            }

            &:hover {
                background-color: #6C9BCF;
            }
        }
    }
}

.pagination.modal-3 {
    a {
        margin-left: 3px;
        padding: 0;
        width: 30px;
        height: 30px;
        line-height: 30px;
        border-radius: 100%;

        &:hover {
            background-color: #6C9BCF;
        }

        &.active,
        &:active {
            background-color: #6C9BCF;
        }
    }
}

.pagination a {
    color: #666;
    padding: 13px 5px 5px;
    margin: 0 10px;
    position: relative;

    &.next,
    &.prev {
        color: #1E7EE2;

        &:hover {
            color: #fff;
            &:after {
                display: none;
            }
        }
    }

    &.active {
        background: #1E7EE2;
        color: #fff;

        &:before {
            content: '';
            position: absolute;
            top: -11px;
            left: -10px;
            width: 18px;
            border: 10px solid transparent;
            border-bottom: 7px solid #1E7EE2;
            z-index: -1;
        }

        &:hover {
            &:after {
                display: none;
            }
        }
    }
}

.search-box{
  width: fit-content;
  height: fit-content;
  position: relative;
}
.input-search{
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all .5s ease-in-out;
  background-color: #22a6b3;
  padding-right: 40px;
  color:#fff;
}
.input-search::placeholder{
  color:rgba(255,255,255,.5);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}
.btn-search{
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color:#ffffff ;
  background-color:transparent;
  pointer-events: painted;  
}
.btn-search:focus ~ .input-search{
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgba(255,255,255,.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
.input-search:focus{
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgba(255,255,255,.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
</style>

<body>

    <div class="container">
        <!-- Sidebar Section -->
        <aside>
            <div class="toggle">
                <a href="/Admin/Dashboard">
                    <img src="/static/images/binbuddytransparent.png" alt="BinBuddy Logo">
                </a>
                <div class="close" id="close-btn">
                    <span class="material-icons-sharp">
                        close
                    </span>
                </div>
            </div>

            <div class="sidebar">
                <a href="/Admin/Dashboard">
                    <span class="material-icons-sharp">
                        insights
                    </span>
                    <h3>Dashboard</h3>
                </a>
                <a href="/Admin/Users">
                    <span class="material-icons-sharp">
                        person_outline
                    </span>
                    <h3>Users</h3>
                </a>
                <a href="/Admin/Request">
                    <span class="material-icons-sharp">
                        mail_outline
                    </span>
                    <h3>Tickets</h3>
                    <span class="message-count">{{TicketCount}}</span>
                </a>
                <a href="/Admin/History" class="active">
                    <span class="material-icons-sharp">
                        receipt_long
                    </span>
                    <h3>History</h3>
                </a>
                <a href="#">
                    <span class="material-icons-sharp">
                        inventory
                    </span>
                    <h3>Sale List</h3>
                </a>
                <a href="#">
                    <span class="material-icons-sharp">
                        report_gmailerrorred
                    </span>
                    <h3>Reports</h3>
                </a>
                <a href="#">
                    <span class="material-icons-sharp">
                        settings
                    </span>
                    <h3>Settings</h3>
                </a>

                <a href="/home">
                    <span class="material-icons-sharp">
                        keyboard_return
                    </span>
                    <h3>Return to App</h3>
                </a>

                <a href="/logout">
                    <span class="material-icons-sharp">
                        logout
                    </span>
                    <h3>Logout</h3>
                </a>

            </div>
        </aside>
        <!-- End of Sidebar Section -->

        <!-- Main Content -->
        <main>
            <h1>History</h1>
            <!-- End of New Users Section -->

            <!-- Recent Orders Table -->
            <div class="recent-orders">
                <table>
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>User Points</th>
                            <th>Request</th>
                            <th>Status</th>
                            <th>Response</th>
                            <th>More</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for request in Requests %}
                        <tr>
                            <td>{{ request.Username }}</td>
                            <td>{{ request.Points }}</td>
                            <td>{{ request.status }}</td>
                            <td class="
                          {% if request.Request == 'Declined' %}
                            text-danger
                          {% elif request.Request == 'Pending' %}
                            text-warning
                          {% else %}
                            text-success
                          {% endif %}
                        ">
                                {{ request.Request }}
                            </td>
                            {% if request.Request == 'Pending'%}
                            <td class="responsecolumn">
                                <div class="primary" class="responsecolumn">
                                    <form method="POST" action="/approve-request/{{ request.Reward_ID }}">
                                        <button class="checkmark-btn" type="submit"><i
                                                class="fas fa-check"></i></button>
                                    </form>
                                    <form method="POST" action="/decline-request/{{ request.Reward_ID }}">
                                        <button class="x-btn" type="submit" style="margin-left: 3px"><i class="fas fa-times"></i></button>
                                    </form>
                                    
                                </div>
                            </td>
                            {% else %}
                            <td> Already Submitted</td>
                            {% endif%}

                            <td class="primary">
                                <a href="#"
                                    onclick="window.open('{{ url_for('photo', request_id=request['Reward_ID']) }}', 'win', 'width=600,height=600')">Details</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <form method="POST">
                    <div class="pagination modal-3">
                        <ul class="pagination-list">
                        <li><a href="?" class="prev">&laquo</a></li>
                            {% for page_num in range(1, page_num + 1) %}
                            <li class="pagination-item {% if page_num == page %}is-current{% endif %}">
                                <a href="?page={{page_num}}" class="pagination-link">{{ page_num }}</a>
                            </li>
                            {% endfor %}
                        <li><a href="?page={{page_num}}" class="next">&raquo;</a></li>
                        </ul>
                    </div>
                {# <div class="search-box">
                    <button class="btn-search"><i class="fas fa-search"></i></button>
                    <input type="text" class="input-search" placeholder="Type to Search...">
                </div>
                </form> #}
            </div>
            <!-- End of Recent Orders -->

        </main>
        <!-- End of Main Content -->

        <!-- Right Section -->
        <div class="right-section">
            <div class="nav">
                <button id="menu-btn">
                    <span class="material-icons-sharp">
                        menu
                    </span>
                </button>
                <div class="dark-mode">
                    <span class="material-icons-sharp active">
                        light_mode
                    </span>
                    <span class="material-icons-sharp">
                        dark_mode
                    </span>
                </div>

                <div class="profile">
                    <div class="info">
                        <p>{{greeting}} <b>{{ current_user.username }} !</b></p>
                        <small class="text-muted">Admin</small>
                    </div>
                    <div class="profile-photo">
                        <img src="/static/images/emptyuser.png">
                    </div>
                </div>

            </div>
            <!-- End of Nav -->

            <div class="user-profile">
                <div class="logo">
                    <img src="/static/images/emptyuser.png">
                    <h2>{{ current_user.username }}</h2>
                    <p>Fullstack Web Developer</p>
                </div>
            </div>

            <div class="reminders">
                <div class="header">
                    <h2>Reminders</h2>
                    <span class="material-icons-sharp">
                        notifications_none
                    </span>
                </div>

                <div class="notification">
                    <div class="icon">
                        <span class="material-icons-sharp">
                            volume_up
                        </span>
                    </div>
                    <div class="content">
                        <div class="info">
                            <h3>Workshop</h3>
                            <small class="text_muted">
                                08:00 AM - 12:00 PM
                            </small>
                        </div>
                        <span class="material-icons-sharp">
                            more_vert
                        </span>
                    </div>
                </div>

                <div class="notification deactive">
                    <div class="icon">
                        <span class="material-icons-sharp">
                            edit
                        </span>
                    </div>
                    <div class="content">
                        <div class="info">
                            <h3>Workshop</h3>
                            <small class="text_muted">
                                08:00 AM - 12:00 PM
                            </small>
                        </div>
                        <span class="material-icons-sharp">
                            more_vert
                        </span>
                    </div>
                </div>

                <div class="notification add-reminder">
                    <div>
                        <span class="material-icons-sharp">
                            add
                        </span>
                        <h3>Add Reminder</h3>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <script src="/static/AdminDashboard.js"></script>
    <script src="/static/date.js"></script>
    <script src="/static/time.js"></script>
</body>
</html>