<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="/static/Adminstyle.css">
    <link rel="stylesheet" href="/static/response.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>BinBuddy- Admin Request</title>
</head>
<style>
    #clock {
        max-width: 12px;
    }
</style>

<body>

    <div class="container">
        <!-- Sidebar Section -->
        <aside>
            <div class="toggle">
                <a href="/Admin/Dashboard">
                    <img src="/static/images/binbuddytransparent.png" alt="BinBuddy Logo">
                </a>
                <div class="close" id="close-btn">
                    <span class="material-icons-sharp">
                        close
                    </span>
                </div>
            </div>

            <div class="sidebar">
                <a href="/Admin/Dashboard">
                    <span class="material-icons-sharp">
                        insights
                    </span>
                    <h3>Dashboard</h3>
                </a>
                <a href="/Admin/Users">
                    <span class="material-icons-sharp">
                        person_outline
                    </span>
                    <h3>Users</h3>
                </a>
                <a href="/Admin/Request" class="active">
                    <span class="material-icons-sharp">
                        mail_outline
                    </span>
                    <h3>Tickets</h3>
                    <span class="message-count">{{TicketCount}}</span>
                </a>
                <a href="/Admin/History">
                    <span class="material-icons-sharp">
                        receipt_long
                    </span>
                    <h3>History</h3>
                </a>
                <a href="#">
                    <span class="material-icons-sharp">
                        inventory
                    </span>
                    <h3>Sale List</h3>
                </a>
                <a href="#">
                    <span class="material-icons-sharp">
                        report_gmailerrorred
                    </span>
                    <h3>Reports</h3>
                </a>
                <a href="#">
                    <span class="material-icons-sharp">
                        settings
                    </span>
                    <h3>Settings</h3>
                </a>

                <a href="/home">
                    <span class="material-icons-sharp">
                        keyboard_return
                    </span>
                    <h3>Return to App</h3>
                </a>

                <a href="/logout">
                    <span class="material-icons-sharp">
                        logout
                    </span>
                    <h3>Logout</h3>
                </a>

            </div>
        </aside>
        <!-- End of Sidebar Section -->

        <!-- Main Content -->
        <main>
            <h1>Requests</h1>
            <!-- End of New Users Section -->

            <!-- Recent Orders Table -->
            <div class="recent-orders">
                <table>
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>User Points</th>
                            <th>Request</th>
                            <th>Status</th>
                            <th>Response</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for request in Requests %}
                        <tr>
                            <td>{{ request.Username }}</td>
                            <td>{{ request.Points }}</td>
                            <td>{{ request.status }}</td>
                            <td class="
                          {% if request.Request == 'Declined' %}
                            text-danger
                          {% elif request.Request == 'Pending' %}
                            text-warning
                          {% else %}
                            text-success
                          {% endif %}
                        ">
                                {{ request.Request }}
                            </td>
                            {% if request.Request == 'Pending'%}
                            <td class="responsecolumn">
                                <div class="primary" class="responsecolumn">
                                    <form method="POST" action="/approve-request/{{ request.Reward_ID }}">
                                        <button class="checkmark-btn" type="submit"><i
                                                class="fas fa-check"></i></button>
                                    </form>
                                    <form method="POST" action="/decline-request/{{ request.Reward_ID }}">
                                        <button class="x-btn" type="submit" style="margin-left: 3px"><i
                                                class="fas fa-times"></i></button>
                                    </form>
                                </div>
                            </td>
                            {% else %}
                            <td> Already Submitted</td>
                            {% endif%}
                            <td class="primary">
                                <a href="{{ url_for('photo', request_id=request['Reward_ID']) }}">Details</a>
                            </td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
            <!-- End of Recent Orders -->

        </main>
        <!-- End of Main Content -->

        <!-- Right Section -->
        <div class="right-section">
            <div class="nav">
                <button id="menu-btn">
                    <span class="material-icons-sharp">
                        menu
                    </span>
                </button>
                <div class="dark-mode">
                    <span class="material-icons-sharp active">
                        light_mode
                    </span>
                    <span class="material-icons-sharp">
                        dark_mode
                    </span>
                </div>

                <div class="profile">
                    <div class="info">
                        <p>{{greeting}} <b>{{ current_user.username }} !</b></p>
                        <small class="text-muted">Admin</small>
                    </div>
                    <div class="profile-photo">
                        <img src="/static/images/emptyuser.png">
                    </div>
                </div>

            </div>
            <!-- End of Nav -->

            <div class="user-profile">
                <div class="logo">
                    <img src="/static/images/emptyuser.png">
                    <h2>{{ current_user.username }}</h2>
                    <p>Fullstack Web Developer</p>
                </div>
            </div>

            <div class="reminders">
                <div class="header">
                    <h2>Reminders</h2>
                    <span class="material-icons-sharp">
                        notifications_none
                    </span>
                </div>

                <div class="notification">
                    <div class="icon">
                        <span class="material-icons-sharp">
                            volume_up
                        </span>
                    </div>
                    <div class="content">
                        <div class="info">
                            <h3>Workshop</h3>
                            <small class="text_muted">
                                08:00 AM - 12:00 PM
                            </small>
                        </div>
                        <span class="material-icons-sharp">
                            more_vert
                        </span>
                    </div>
                </div>

                <div class="notification deactive">
                    <div class="icon">
                        <span class="material-icons-sharp">
                            edit
                        </span>
                    </div>
                    <div class="content">
                        <div class="info">
                            <h3>Workshop</h3>
                            <small class="text_muted">
                                08:00 AM - 12:00 PM
                            </small>
                        </div>
                        <span class="material-icons-sharp">
                            more_vert
                        </span>
                    </div>
                </div>

                <div class="notification add-reminder">
                    <div>
                        <span class="material-icons-sharp">
                            add
                        </span>
                        <h3>Add Reminder</h3>
                    </div>
                </div>

            </div>

        </div>


    </div>
    <script src="/static/AdminDashboard.js"></script>
    <script src="/static/date.js"></script>
    <script src="/static/time.js"></script>
</body>

</html>