<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/d106e5acd2.js" crossorigin="anonymous"></script>
  <title>Landing Page</title>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/static/css/main.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css"
    integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">
  <style>
    body {
      background-color: #001f3f;
      font-family: 'Montserrat', sans-serif;
      margin: 0;
      padding: 0;
      animation: slideIn 1s ease-in-out;
      color: #fff;
    }

    header {
      background-color: #001f3f;
      padding: 20px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .left-side img {
      width: 80px;
      height: 80px;
      background: transparent;
    }

    .nav-link-wrapper a {
      text-decoration: none;
      color: #ffcc00;
      font-weight: bold;
      font-size: 18px;
      transition: color 0.3s ease-in-out;
    }

    .nav-link-wrapper a:hover {
      color: #4caf50;
    }

    .container-fluid {
      padding-right: 0;
      padding-left: 0;
    }

    .section-content {
      padding: 50px;
    }

    h1 {
      color: #ffcc00;
      font-weight: 900;
      font-size: 3rem;
    }

    p {
      color: white;
      font-size: 18px;
    }

    .input-group {
      margin-top: 20px;
    }

    input.form-control {
      font-size: 1rem;
      height: 60px;
      border: none;
    }

    .nav-btn {
      padding: 0 2.5rem;
      padding-top: 17px;
      background-color: #4caf50;
      color: #001f3f;
      border-radius: 5px;
      transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    }

    .nav-btn:hover {
      background-color: #001f3f;
      color: #ffcc00;
    }

    .map-placeholder {
      background: #004080;
      height: 300px;
      margin-top: 50px;
    }

    @keyframes slideIn {
      0% {
        opacity: 0;
        transform: translateY(-20px);
      }

      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
  </style>
</head>

<body>
  <div class="container-fluid">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light p-0 mt-5">
        <div class="container-fluid">
          <a class="navbar-brand logo" href="#"><img src="/static/images/buddy.png" alt="BinBuddy Logo"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse d-flex justify-content-evenly" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Service</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Team</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Blog</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact Us</a>
              </li>
            </ul>
          </div>
          <div class="d-flex justify-content-end">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/signin">Log in</a>
              </li>
              <a class="nav-btn" href="/sign-up">Getting Started</a>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>

  <section class="section-content">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-sm-12 col-md-8 col-lg-4">
          <h1>Gameify Garbage Collection with <br> <span style="color:#4481eb;">BinBuddy</span></h1>
          <p>Turn recycling into a rewarding adventure, earn points, and contribute to a cleaner environment.</p>
          <div class="input-group input-group-lg">
            <input type="text" class="form-control" placeholder="Email Address" aria-label="Recipient's username"
              aria-describedby="button-addon2">
            <a class="nav-btn" type="button" id="button-addon2" href="/login">Learn More</a>
          </div>
        </div>


        <div class="col-sm-12 col-md-10 col-lg-8">
          <img class="img-fluid" src="/static/o (3).png" alt="" style="padding-left: 200px;">
        </div>
      </div>
    </div>
  </section>

  <section class="map-placeholder">
    <!-- Add your map here -->
    <p style="color: white; text-align: center; padding-top: 50px;">Explore BinBuddy Hotspots Near You</p>
  </section>

  <section class="reward-tracker" style="background-color: #001f3f; padding: 50px 0; color: #fff;">
    <div class="container">
      <h2 style="font-size: 2rem; font-weight: 700; margin-bottom: 30px;">Your Point Reward Tracker</h2>
      <div class="row align-items-center">
        <div class="col-md-6">
          <p style="font-size: 1.5rem; margin-bottom: 20px;">Keep up the good work! You've earned:</p>
          <h1 style="font-size: 3rem; font-weight: 900;">250 Points</h1>
        </div>
        <div class="col-md-6">
          <img src="/static/reward-icon.png" alt="Reward Icon" style="width: 100px; height: 100px; margin-right: 20px;">
          <p style="font-size: 1.2rem;">Recycle more to unlock exciting rewards and contribute to a greener environment.
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- ... (Remaining HTML code) ... -->

  <!-- Bootstrap JavaScript bundle -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-mrpJAPKfV0v0Wj31zSq6b1NG3wFv0p2q5VGYzPxIxFtF5ib/K5uUpJv5cuW540rR" crossorigin="anonymous"></script>
</body>

</html>
